@page "/recipes"
@inject HttpClient httpClient
@inject NavigationManager navManager
@inject IJSRuntime jsRuntime

<div class="container">
    <div class="row">
        <div class="col-4">
            @if(viewAll)
            {
                <h3>All Recipes</h3>
            }
            else
            {
                <h3>Recipes</h3>
            }
        </div>
        <div class="col-2 text-end">
            <InputText @bind-Value="model.SearchString" class="form-control" />
        </div>
        <div class="col-1">
            <button class="btn btn-sm btn-light" data-toggle="tooltip" title="Search" @onclick="() => Search()"><img src="/images/search-icon.png" height="20" alt="Search" /></button>
        </div>
        @if (!viewAll)
        {
            <div class="col-2">
                <button class="btn btn-sm btn-link" @onclick="() => ViewAll()">View All Recipes</button>
            </div>
        }
        <div class="col-2 text-end">
            <button @onclick="AddRecipe" class="btn btn-success">Add Recipe</button>
        </div>
    </div>

    @if (recipes is null)
    {
        <span>Loading recipes...</span>
    }
    else if (recipes.Count > 0)
    {
        <div class="row pt-2">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Ingredients</th>
                            <th>Instructions</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Recipe recipe in recipes)
                        {
                            <tr>
                                <td>@recipe.Title</td>
                                <td>@recipe.Description</td>
                                <td>
                                    @if(!String.IsNullOrEmpty(recipe.ImageName)) {
                                        <button @onclick="() => ViewFile(recipe.Image)" class="btn btn-md btn-link pl-0 ml-0" style="border:none;" data-toggle="tooltip" title="View File">@recipe.ImageName</button>
                                    }
                                </td>
                                <td>
                                    <ul>
                                        @foreach (RecipeIngredient ingredient in recipe.RecipeIngredients)
                                        {
                                            <li>@ingredient.Ingredient</li>
                                        }
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        @foreach (RecipeInstruction instruction in recipe.RecipeInstructions)
                                        {
                                            <li>@instruction.Instruction</li>
                                        }
                                    </ul>
                                </td>
                                <td><button @onclick="(() => EditRecipe(recipe.RecipeId))" class="btn btn-sm btn-primary">Edit</button></td>
                                <td><button @onclick="(() => DeleteRecipe(recipe))" class="btn btn-sm btn-danger">Delete</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <span>No recipes found.</span>
    }
</div>

@code {
    List<Recipe>? allRecipes;
    List<Recipe>? recipes;
    Model model = new();
    private bool viewAll;

    /*******************************************************
     * On Initialized Async
    ********************************************************/
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var result = await httpClient.GetFromJsonAsync<List<Recipe>>("api/recipe");
            if (result != null)
            {
                allRecipes = result;
                recipes = result;
            }

            viewAll = true;
            model.SearchString = String.Empty;
        }
        catch (Exception ex)
        {
            string err = ex.Message;
        }
    }

    /***************************************************
     * Add Recipe
    ****************************************************/
    private void AddRecipe()
    {
        navManager.NavigateTo("/addeditrecipe");
    }

    /***************************************************
     * Edit Recipe
    ****************************************************/
    private void EditRecipe(int id)
    {
        navManager.NavigateTo($"/addeditrecipe/{id}");
    }

    /***************************************************
     * Delete Recipe
    ****************************************************/
    private async Task DeleteRecipe(Recipe recipe)
    {
        await httpClient.DeleteAsync($"api/recipe/{recipe.RecipeId}");
        recipes.Remove(recipe);
    }

    /***************************************************
     * Search
    ****************************************************/
    private void Search()
    {
        //TODO
        model.SearchString = model.SearchString.ToLower();

        List<Recipe> filteredRecipes = new();

        // recipes = recipes.Where(r => r.Title.Contains(model.SearchString)
        // || r.Description.Contains(model.SearchString)).ToList();

        foreach(Recipe recipe in allRecipes)
        {
            if(recipe.Title.ToLower().Contains(model.SearchString) || recipe.Description.ToLower().Contains(model.SearchString)) {
                filteredRecipes.Add(recipe);
            }

            foreach(RecipeIngredient ingredient in recipe.RecipeIngredients)
            {
                if (ingredient.Ingredient.ToLower().Contains(model.SearchString))
                {
                    filteredRecipes.Add(recipe);
                }
            }

            foreach (RecipeInstruction instruction in recipe.RecipeInstructions)
            {
                if (instruction.Instruction.ToLower().Contains(model.SearchString))
                {
                    filteredRecipes.Add(recipe);
                }
            }
        }

        recipes = filteredRecipes.Distinct().ToList();

        viewAll = false;
    }

    /***************************************************
     * View All
    ****************************************************/
    private void ViewAll()
    {
        recipes = allRecipes;
        viewAll = true;
        model.SearchString = String.Empty;
    }

    /**************************************************************
     * View File
    **************************************************************/
    public async Task ViewFile(byte[] file)
    {
        try
        {
            // var fileType = Utility.GetMimeType(uploadedFile.FileName);
            // await jsRuntime.InvokeVoidAsync("jsOpenIntoNewTab", httpResult.Data, uploadedFile.FileType);

            string mimeType = "image/jpeg";
            await jsRuntime.InvokeVoidAsync("openFileInNewTab", file, mimeType);
        }

        catch (Exception ex)
        {
            string errMsg = ex.Message;
        }
    }

    /***************************************************
     * Model
    ****************************************************/
    private class Model
    {
        public string SearchString { get; set; }
    }
}
